Repository 9KaelirAmaya9/base2: changes, and which lint-staged commands are due for each by the changed paths.
All: cd backend && npx eslint --fix, cd backend && npx prettier --write, cd react-app && npx eslint --fix, cd react-app && npx prettier --write, npx prettier --write

Complete scripts_and_docs feature: scripts, docs, env discipline, onboarding, self-tests
  .env.example
  README.md
  quickstart.md
  scripts/logs.sh
  scripts/start.sh
  scripts/stop.sh
  scripts/test.sh
  specs/1-scripts_and_docs/tasks.md
Due: npx prettier --write

Update Stripe API keys
  .env
Due: none

feat: Transform Base2 into fully functional taco restaurant platform
  RESTAURANT_README.md
  backend/controllers/menuController.js
  backend/controllers/orderController.js
  backend/database/migrate.js
  backend/database/restaurant-schema.sql
  backend/database/seed.js
  backend/database/seed.sql
  backend/middleware/roles.js
  backend/package.json
  backend/routes/menu.js
  backend/routes/orders.js
  backend/server.js
  react-app/src/App.js
  react-app/src/components/Navigation.js
  react-app/src/contexts/CartContext.js
  react-app/src/pages/AdminDashboard.js
  react-app/src/pages/Cart.js
  react-app/src/pages/KitchenDashboard.js
  react-app/src/pages/Location.js
  react-app/src/pages/Menu.js
  react-app/src/pages/OrderConfirmation.js
Due: cd backend && npx eslint --fix, cd backend && npx prettier --write, cd react-app && npx eslint --fix, cd react-app && npx prettier --write, npx prettier --write

docs: Add comprehensive quick start guide for restaurant setup
  QUICKSTART.md
Due: npx prettier --write

chore: Update package-lock.json after npm install
  backend/package-lock.json
Due: npx prettier --write

feat: Implement comprehensive Google Workspace integration with Gemini AI
  .env.example
  backend/controllers/contractController.js
  backend/controllers/dashboardController.js
  backend/database/workspace-schema.sql
  backend/package.json
  backend/routes/contracts.js
  backend/routes/dashboards.js
  backend/server.js
  backend/services/contracts/ContractService.js
  backend/services/dashboard/DashboardService.js
  backend/services/gemini/GeminiService.js
  backend/services/workspace/BaseWorkspaceService.js
  backend/services/workspace/CalendarService.js
  backend/services/workspace/DocsService.js
  backend/services/workspace/DriveService.js
  backend/services/workspace/GmailService.js
  backend/services/workspace/SheetsService.js
  docs/WORKSPACE_API_REFERENCE.md
  docs/WORKSPACE_SETUP_GUIDE.md
  docs/google-workspace-integration.md
Due: cd backend && npx eslint --fix, cd backend && npx prettier --write, npx prettier --write

Add analytics dashboard documentation
  ANALYTICS_DASHBOARD_GUIDE.md
  DEPLOYMENT_CHECKLIST.md
Due: npx prettier --write

fix: resolve admin login and dashboard access issues
  ADMIN_FIX_GUIDE.md
  src/App.tsx
  src/components/ProtectedRoute.tsx.backup
  src/utils/adminDiagnostics.ts
Due: npx prettier --write

docs: add automated test results for admin login fixes
  TEST_RESULTS.md
Due: npx prettier --write

fix: resolve infinite loading spinner on /admin page
  src/components/ProtectedRoute.tsx
Due: none

Remove .env from version control
  .env
Due: none

Path conditions:
  cd backend && npx eslint --fix: any of: backend/**/*.js
  cd backend && npx prettier --write: any of: backend/**/*.js
  cd react-app && npx eslint --fix: any of: react-app/src/**/*.{js,jsx}
  cd react-app && npx prettier --write: any of: react-app/src/**/*.{js,jsx}
  npx prettier --write: any of: *.{json,md,yml,yaml}
